<%= turbo_frame_tag "podcast_frame" do %>
  <turbo_frame id="errors">
    <%= render 'layouts/errors', resource: @session || nil %>
  </turbo_frame>

  <div class="d-flex justify-content-center" style="margin-top: 20px;">
    <div class="col-md-4">
      <%= render 'form' %>
      <br>

      <%= link_to "Sign Up", new_user_path, class: "btn btn-link" %>
      <%= link_to "Forgot password?", new_password_path, class: "btn btn-link" %>
    </div>
  </div>
<% end %>
