<turbo-frame id="podcast_frame">
  <div class="d-flex">
    <div class="px-2">
      <div class="card d-flex flex-column mb-3">
        <div class="photo">
          <% if @podcast.photo.attached? %>
            <%= image_tag @podcast.photo, height: 500 %>
          <% else %>
            <div class="alert alert-warning" role="alert">No Photo Available!</div>
          <% end %>
        </div>
        <div class="audio">
          <% if @podcast.audio.attached? %>
            <%= audio_tag @podcast.audio, controls: true %>
          <% else %>
            <div class="alert alert-warning" role="alert">No Audio Available!</div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="p-2 card flex-fill d-flex flex-column mb-3">
      <div class="card-body">
        <h5 class="card-title fs-1 display-1"><%= @podcast.title %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary fs-6"><%= @podcast.created_at %></h6>
        <p class="card-text fs-5 display-2"><%= @podcast.description %></p>
        <p class="card-text fs-5 display-2">User_id: <%= @podcast.user_id %></p>
        <% if current_user && current_user.subscriptions.exists?(podcast: @podcast) %>
          <%= button_to podcast_subscription_path(@podcast, 1),
            method: :delete,
            class: "btn btn-success mb-2" do %>
            <i class="bi bi-check2"></i>
          <% end %>
        <% else %>
          <%= button_to podcast_subscriptions_path(@podcast),
            method: :post,
            class: "btn btn-primary mb-2" do %>
            <i class="bi bi-hand-thumbs-up-fill"></i>
          <% end %>
        <% end %>   
      </div>
        <div class="card-footer bg-transparent border-success">
          <a href="#" class="card-link fs-6">Card link</a>
          <a href="#" class="card-link fs-6">Another link</a>
        </div>
    </div>
  </div>

  <% if @podcast.authored_by?(current_user) %>
    <div class="control-buttons">
      <div class="d-flex flex-column mb-3">
        <%= link_to "Редактировать Podcast", edit_podcast_path(@podcast),
          class: "btn btn-secondary mb-2" %>
        <%= button_to "Удалить Podcast", podcast_path(@podcast),
          method: :delete,
          data: { confirm: "Вы уверены?" },
          class: "btn btn-danger mb-2" %>
      </div>
    </div>
  <% end %>
</turbo_frame>
