<div class="row justify-content-center">
  <div class="col-md-8">
    <%= turbo_frame_tag "podcast_frame" do %>
      <div class="card-group">
        <div class="card">
          <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9abc28136491393.61fa8bcfee8ce.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= @last_podcast.title %></h5>
            <p class="card-text"><%= @last_podcast.description %></p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Last uploaded podcast</small>
          </div>
        </div>
        <div class="card">
          <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/c4c965136491393.6336af6811b4b.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%= @random_podcast.title %></h5>
            <p class="card-text"><%= @random_podcast.description %></p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Random podcast</small>
          </div>
        </div>
        <div class="card">
          <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/45ddba136491393.6336af6812b61.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">The most popular podcast</small>
          </div>
        </div>

        <%= link_to "Check it out!", load_podcasts_path,
          class: "btn btn-primary btn-lg d-flex align-items-center justify-content-center",
          data: { turbo_frame: 'podcasts_list', turbo_method: :post }
        %>
      </div>
    <% end %>
  </div>
</div>
