<div class="row justify-content-center">
  <div class="col-md-8">
    <%= turbo_frame_tag "podcast_frame" do %>
      <% if Podcast.any? %>
        <div class="card-group">
          <div class="card">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/9abc28136491393.61fa8bcfee8ce.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to @last_podcast.title, @last_podcast,
                  class: "text-decoration-none",
                  data: { turbo_frame: 'podcasts_list' } %>
              </h5>
              <p class="card-text" style="max-width: 200px; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 7;"><%= @last_podcast.description %></p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary"><%= @last_podcast.created_at %></small>
            </div>
          </div>
          <div class="card">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/c4c965136491393.6336af6811b4b.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                <%= link_to @random_podcast.title, @random_podcast,
                  class: "text-decoration-none",
                  data: { turbo_frame: 'podcasts_list' } %>
                </h5>
              <p class="card-text" style="max-width: 200px; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 7;"><%= @random_podcast.description %></p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary"><%= @random_podcast.created_at %></small>
            </div>
          </div>
          <div class="card">
            <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/45ddba136491393.6336af6812b61.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= link_to "Card title", class: "card text-decoration-none", data: { turbo: false } %></h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
              <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
          </div>
          <%= link_to "Check it out!", load_podcasts_path,
            class: "btn btn-primary btn-lg d-flex align-items-center justify-content-center",
            data: { turbo_frame: 'podcasts_list' }
          %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
