<div class="container">
  <h2>Создать Podcast</h2>
  <%= form_for(@podcast, url: { controller: 'podcasts', action: 'create' }) do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>

    <div class="form-group">
      <%= form.label :title, "Название Podcast" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description, "Описание Podcast" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <%= form.submit "Создать Podcast", class: "btn btn-primary" %>
  <% end %>
</div>
