<div class="container">
  <h2>Создать Podcast</h2>
  <%= form_for(@podcast, url: { controller: 'podcasts', action: 'create' }, data: { controller: "direct-uploads", url: podcasts_path }) do |form| %>
    <div class="form-group">
      <%= form.label :title, "Название Podcast" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description, "Описание Podcast" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>

    <div>
        <%= form.file_field :photo, direct_upload: true, data: { direct_upload_url: podcasts_path, action: "change->direct-uploads#uploadFile", direct_uploads_target: "fileInput" } %>
    </div>

    <progress id="upload-progress" value="0" max="100" data-target="direct-uploads.progress" style="display:none;"></progress>
    <button type="button" id="cancel-upload" class="btn btn-danger" style="display:none;">Отменить загрузку</button>

    <%= form.submit "Создать Podcast", class: "btn btn-primary" %>
  <% end %>
</div>
