<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
  <div class="container-fluid">
    <%= link_to content_for(:title) || "Podcaster", root_path, class: 'navbar-brand', data: { turbo_frame: 'podcast_frame' } %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <%# <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> %>
      </ul>
      <% if current_user %>
        <div class="row justify-content-evenly">
          <div class="col-3 dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </button>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "My podcasts", podcasts_path(filter: 'my_podcasts'),
                  class: "dropdown-item btn btn-outline-success",
                  data: { turbo_frame: 'podcast_frame' } %>
              </li>
              <li><%= link_to "Add new podcast", new_podcast_path, class: 'dropdown-item btn btn-outline-success', data: { turbo_frame: 'podcast_frame' } %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to "Sign Out", destroy_user_session_path, class: 'dropdown-item btn btn-outline-danger', method: :delete %></li>
            </ul>
          </div>
        </div>
      <% else %>
        <div class="authentication">
          <div class="row justify-content-evenly">
            <div class="col-4">
              <%= link_to "register", new_user_registration_path,
                  class: 'btn btn-outline-success',
                  data: { turbo_frame: 'podcast_frame' }
              %>
            </div>
            <div class="col-4">
              <%= link_to "login", new_user_session_path,
                  class: 'btn btn-outline-primary',
                  data: { turbo_frame: 'podcast_frame' }
              %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</nav>
